/*round the borders*/
body {
	background-color: #ccc;
}
main {
	border: 1px solid #fff;
	border-radius: 7px;
	background-color: #cbd8e9;
	padding: 2%;
	font-size: 1.15em;
	font-family: Roboto, sans-serif;
}
.container {
	margin: 0 auto;
	width: 100%
}
nav {
	padding: 1%;
	margin-bottom: 1%;
}
nav li {
	font-size: 1.5em;
	border-top: 1px solid #fff;
	font-family: Garamond, sans-serif;
}
/*a {
	text-decoration: none;
}*/
.container {
	margin: 0 auto;
	width: 100%;
}
header {
	position: static;
	padding-bottom: 2%;
}
nav li {
	color: #ffffff;
	border: solid 1px #006666;
	background-color: #003333;
	display: inline-block;
}
nav li a {
	color: #ffffff;
	padding: 0.1em 0.75em;
}
nav li a:hover {
	color: #000;
	background-color: #fff;
}
main ul {
	margin: 0 0 4% 10%;
}
image {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}